 .u-section-1 {
  background-image: url("images/29389113_1886386088041050_3998345386975559680_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 727px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 59px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 606px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/20220831_104506.png");
  background-position: 50% 50%;
  margin: 36px auto 0 404px;
}

.u-section-1 .u-text-1 {
  margin: -6px auto 0 410px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 41px 19px 0 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 565px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
    margin-left: 314px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 320px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 66px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: 204px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 716px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -27px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 318px;
    margin-top: 29px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 818px;
  }

  .u-section-1 .u-image-1 {
    width: 290px;
    height: 290px;
    margin-top: 9px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 78px;
  }
} .u-section-2 {
  background-image: url("images/285849460_543101564145013_9182844418940147543_n.jpg");
  background-position: 0% 69.24%;
  background-size: 125%;
}

.u-section-2 .u-sheet-1 {
  min-height: 848px;
}

.u-section-2 .u-group-1 {
  width: 596px;
  min-height: 601px;
  height: auto;
  margin: 108px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 226px;
  height: 226px;
  background-image: url("images/20220926-102437.jpg");
  background-position: 50% 50%;
  margin: 37px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 47px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 47px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 0% 68.78%;
    background-size: 130%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 11.65% 69.6%;
    background-size: auto 135%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 220px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 19.86% 67.32%;
    background-size: auto 130%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-top: 75px;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 24.28% 57.68%;
    background-size: auto 135%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 675px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  min-height: 705px;
}

.u-section-3 .u-shape-1 {
  height: 353px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: -276px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 553px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("images/WhatsAppImage2022-09-21at7.26.02PM.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("images/parahara/286675328_543107627477740_6623667150968718607_n.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("images/WhatsAppImage2022-09-21at7.25.43PM.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 240px;
  height: 240px;
  background-image: url("images/WhatsApp Image 2022-09-23 at 6.50.59 AM.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-10 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-12 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-3 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 240px;
  height: 240px;
  background-image: url("images/20220926-101654.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-13 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-15 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 0 0;
}

.u-section-3 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 240px;
  height: 240px;
  background-image: url("images/20220926-102852.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-16 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-17 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-18 {
  font-weight: 300;
  font-style: normal;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1160px;
  }

  .u-section-3 .u-list-1 {
    width: 990px;
    margin-top: -275px;
    margin-right: calc(((100% - 940px) / 2) + -32px);
    margin-bottom: 34px;
  }

  .u-section-3 .u-repeater-1 {
    grid-gap: 14px 14px;
    grid-template-columns: calc(33.3333% - 9.33333px) calc(33.3333% - 9.33333px) calc(33.3333% - 9.33333px);
    min-height: 456px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-repeater-1 {
    min-height: 812px;
    grid-template-columns: calc(50% - 7px) calc(50% - 7px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: -302px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}