 .u-section-1 {
  background-image: linear-gradient(#be0000, #f1c50e);
}

.u-section-1 .u-sheet-1 {
  min-height: 1456px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  background-image: linear-gradient(#800000, #ffd700);
  width: 1196px;
  margin: 13px -28px 0;
}

.u-section-1 .u-image-1 {
  min-height: 725px;
  pointer-events: auto;
  background-image: url("images/296005448_5360551620732500_5952687693994352899_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 60px 160px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 725px;
  pointer-events: auto;
  background-image: linear-gradient(to right, #ffd700, #800000);
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  background-image: none;
  margin: 15px 30px 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 30px 23px 0 37px;
}

.u-section-1 .u-gallery-1 {
  height: 1018px;
  width: 1196px;
  margin: 26px -28px 15px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-gap: 5px 5px;
  grid-template-columns: auto auto auto;
}

.u-section-1 .u-back-slide-1 {
  transition-duration: 1.25s;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  transition-duration: 2.25s;
  padding: 100px;
}

.u-section-1 .u-back-slide-2 {
  transition-duration: 1.25s;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  transition-duration: 2.25s;
  padding: 100px;
}

.u-section-1 .u-back-slide-3 {
  transition-duration: 1.25s;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  transition-duration: 2.25s;
  padding: 100px;
}

.u-section-1 .u-back-slide-4 {
  transition-duration: 1.25s;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  transition-duration: 2.25s;
  padding: 100px;
}

.u-section-1 .u-back-slide-5 {
  transition-duration: 1.25s;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  transition-duration: 2.25s;
  padding: 100px;
}

.u-section-1 .u-back-slide-6 {
  transition-duration: 1.25s;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  transition-duration: 2.25s;
  padding: 100px;
}

.u-section-1 .u-back-slide-7 {
  transition-duration: 1.25s;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  transition-duration: 2.25s;
  padding: 100px;
}

.u-section-1 .u-back-slide-8 {
  transition-duration: 1.25s;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  transition-duration: 2.25s;
  padding: 100px;
}

.u-section-1 .u-back-slide-9 {
  transition-duration: 1.25s;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  transition-duration: 2.25s;
  padding: 100px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    height: 800px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1760px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 689px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
    height: 1532px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3422px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 517px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    height: 4136px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2212px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 388px;
    margin-top: 40px;
    margin-left: -24px;
    margin-right: -24px;
  }

  .u-section-1 .u-image-1 {
    min-height: 483px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 620px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 31px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    height: 2604px;
  }
}